/* globals */
html {
    -webkit-user-select: none;
}

body {
    font-family: 'Open Sans' !important;
}
/* globals */


/* fonts icons */
@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'),
        local('Framework7Icons-Regular'),
        url("./fonts/Framework7Icons-Regular.woff2") format("woff2"),
        url("./fonts/Framework7Icons-Regular.woff") format("woff"),
        url("./fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* fonts icons */






/* width  */
.pz-width100 {
    width: 100% !important;
}
.pz-max-width100 {
    max-width: 100% !important;
}
/* width  */






/* height  */
.pz-height100 {
    height: 100%;
}
/* height  */





/* font */
.pz-weight-thin {
    font-weight: 300 !important;
}
.pz-weight-bold {
    font-weight: bold !important;
}
.pz-size-smaller {
    font-size: smaller !important;
}
.pz-size-small {
    font-size: small !important;
}
.pz-size-normal {
    font-size: initial !important;
}
/* font */





/* custom */
.popover {
    width: 200px !important;
}
.pz-popover {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}
.pz-wht-spc-norm {
    white-space: nowrap !important;
}
.pz-word-wrap-brk {
    word-wrap: break-word !important;
}
.image {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px lightgrey;
}
.pz-page-err {
    font-style: italic;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10%;
}
/* custom */





/* margins */
.pz-margin-top0 {
    margin-top: 0px !important;
}
.pz-margin-b30 {
    margin-bottom: 30px !important;
}
.pz-margin-b8 {
    margin-bottom: 8px !important;
}
.pz-margin-0 {
    margin: 0px !important;
}
.pz-margin-8 {
    margin: 8px !important;
}
.pz-margin-l0 {
    margin-left: 0px !important;
}
.pz-margin-tb0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.pz-margin-tb16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.pz-margin-r16 {
    margin-right: 16px !important;
}
.pz-margin-r8 {
    margin-right: 8px !important;
}
/* margins */









/* padding */
.pz-padding-0 {
    padding: 0px !important;
}
.pz-padding-16 {
    padding: 16px !important;
}

.pz-padding-tb-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pz-padding-t44 {
    padding-top: 44px !important;
}
.pz-padding-t16 {
    padding-top: 16px !important;
}

.pz-padding-l0 {
    padding-left: 0px !important;
}
.pz-padding-l16 {
    padding-left: 16px !important;
}

.pz-padding-lr16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.pz-padding-lr32 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}
/* padding */




/* floats */

.pz-float-l {
    float: left !important;
}

.pz-float-r {
    float: right !important;
}


/* floats */






/* backgrounds */
.pz-bg-gray-white {
    background: white !important;   
}
.pz-bg-lightest {
    background: #9FD6CD !important;
}
.pz-bg-light {  
    background: #68B4A7 !important;
}
.pz-bg-dark {
    background: #288172 !important;
}
.pz-bg-darkest {
    background: #146B5C !important;
}

.pz-bg-gray-lightest {
    background: #FAFAFA !important;
}
.pz-bg-gray-lighter {
    background: #F5F5F5 !important;
}

.pz-bg-red-lightest {
    background: #ffebee !important;
}

.pz-bg {
    background: #419688 !important;
}
/* backgrounds */





/* text stuff */
.pz-cap {
    text-transform: capitalize !important;
}
/* text stuff */





/* color stuff */
.pz-colr-inherit {
    color: inherit !important;
}
/* color stuff */





/* others stuff */
.pz-border-0 {
    border: 0px !important;
}
.pz-shadow {
    box-shadow: 0px 1px 1px 1px lightgrey !important;
}
.pz-border-radius-10{
    border-radius: 10px !important;
}
/* others stuff */








/* flex shorthands */
/* pz-flex-x-y means x is justify-content and y is align-items */
.pz-flex {
    display: flex !important;
}
.pz-flex-j-start {
    justify-content: flex-start !important;
}
.pz-flex-j-sb {
    display: flex !important;
    justify-content: space-between !important;
}
.pz-flex-c-c {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.pz-flex-c-e {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-end !important;
}
.pz-flex-sa-c {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}
/* flex shorthands */
